*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    scroll-behavior: smooth;
}
.paste{
    color: #341f97;
}

.full-width .side-bar{
    height: 100%;
    width: 250px;
    text-align: center;
    overflow: hidden;
    border-right: 2px solid #E5E5E5;
    position: fixed;
    top: 0;
    left: 0;
}
.full-width .side-bar .img-sec{
    padding: 25px 0;
    position: relative;
    border-bottom: 2px solid #E5E5E5;
}
.full-width .side-bar .img-sec::before{
    content: "";
    position: absolute;
    top: -135%;
    left: -80%;
    width: 100%;
    height: 300%;
    background: #341f97;
    transform: rotate( 
    58deg);
    z-index: -1;
}
.full-width .side-bar .img-sec::after{
    content: "";
    position: absolute;
    top: -135%;
    right: -80%;
    width: 100%;
    height: 300%;
    background: #341f97;
    transform: rotate(
    -58deg);
    z-index: -1;
}
.full-width .side-bar .img-sec img{
    width: 50%;
    border-radius: 50%;
    border: 5px solid #341f97;
    background-color: white;
}
.full-width .side-bar .img-sec h3{
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 0 0;
}
.full-width .side-bar .menu-sec ul{
    list-style: none;
    text-align: left;
}
.full-width .side-bar .menu-sec ul li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 500;
    padding: 25px 0 0 0;
    display: block;
    transition: .5s;
    text-transform: uppercase;
}
.full-width .side-bar .menu-sec ul li a i{
    padding: 0 15px;
    color:  #341f97;

}
.full-width .side-bar .menu-sec ul li a:hover , .full-width .side-bar .menu-sec ul li a:focus{
    color:  #341f97;
    letter-spacing: 1px;
}

/* banner-section */

.body{
    margin-left: 250px;
}
.padding-body{
    padding: 0 30px;
}
.body .banner-sec{
    text-align: center;
    background-image: url(./img/over-the-years-digiant-media-dubai-has-evolved-as-the-best-design-company-in-dubai.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 20px;
    position: relative;
}
.body .banner-sec::before{
    content: '';
    width: 100%;
    height: 100%;
    background: #000000c7;
    position: absolute;
    top: 0;
    left: 0;
}
.body .banner-sec .banner-col{
    z-index: 1;
}
.body .banner-sec .banner-col img{
    width: 15%;
    border: 5px solid #341f97;
    border-radius: 50%;
    background: white;
}
.body .banner-sec .banner-col h1{
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding: 13px 0;
}
.body .banner-sec .banner-col ul li{
    height: 40px;
    width: 40px;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    transition: .5s;
    border: 1px solid white;
}
.body .banner-sec .banner-col ul li:hover{
    transform: translatey(-15px);
    background-color: #341f97;
    border: 1px solid transparent;

}
.body .banner-sec .banner-col ul li a{
    
    color: white;

}
.stylish-btn{
    margin-right: 16px;
    height: 50px;
    width: 15%;
    border-radius: 6px;
    background: #341f97;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    border: none;
    position: relative;
    transition: .5s;
}
.stylish-btn::before{
    content: '';
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    background: #341f97;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.stylish-btn::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0px;
    background: #351f978c;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.stylish-btn:hover{
    background-color: white;
    border: 1px solid #341f97 ;
    color: #341f97;

}
.stylish-btn:hover::before{
    visibility: visible;
    opacity: 1;
    width: 0%;
}
.stylish-btn:hover::after{
    visibility: visible;
    opacity: 1;
    width: 0%;
}

/* aboutme  */

.floatingtext{
    padding: 50px 0 120px 0;
    position: relative;
    text-align: center;
}
.floatingtext h1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #F4F4F4;
    font-size: 110px;
    font-weight: 700;
    padding: 26px;
    z-index: -1;
}
.body .aboutme .aboutmain{
    align-items: center;
    justify-content: space-between;
}
.floatingtext span{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: 45%;
}
.body .aboutme .about-left{
    padding: 25px;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(69 67 96 / 10%) 0px 5px 20px 0px;
    margin-bottom: 20px;

}
.body .aboutme .about-left img{
    border-radius: 15px;
    max-width: 100%;
}
.body .aboutme .about-left::before{
    content: '';
    height: 100%;
    width: 135%;
    position: absolute;
    top: -35%;
    left: -40%;
    background: #341f97;
    transform: rotate( 
-35deg);
    z-index: -1;
}
.body .aboutme .about-right{
    padding: 40px;
    border-radius: 15px;
    box-shadow: rgb(69 67 96 / 10%) 0px 5px 20px 0px;
    margin-bottom: 20px;

}
.body .aboutme .about-right p{
    font-size: 14px;
    font-weight: 300;
}


/* cv details section */

.cv-details{
    margin: 64px auto;
    padding: 45px;
    border-radius: 15px;
    box-shadow: rgb(69 67 96 / 10%) 0px 5px 20px 0px;
}
.cv-details span .left-h2{
    display: inline-block;
    color: rgb(85, 85, 85);
    font-size: 16px;
    font-weight: 500;
    margin-right: 2%;
}
.cv-details span .right-h2{
    display: inline-block;
    color:rgb(102, 102, 102);
    font-size: 14px;
    font-weight: 300;
}


/* ---------------
SERVICE SECTION
--------------- */

.service-div{
    box-shadow: rgb(69 67 96 / 10%) 0px 5px 20px 0px;
    padding: 40px 40px 20px 40px;
    border-radius: 8px;
    transition: .5s;
    margin-bottom: 30px;
}
.service-div:hover{
    transform: translateY(-20px);
}
.service-div span img{
    width: 70px;
    margin: 0px auto 25px;
    display: block;
}
.service-div h1{
    font-size: 20px;
    font-weight: 700;
    color: rgb(85, 85, 85);
}
.service-div h3{
    font-size: 14px;
    font-weight: 300;
    margin-top: 16px;
}


/* skill section  */


.progress-sec h2{
    font-size: 22px;
    font-weight: 600;
    padding: 0 0 8px 0;
    border-bottom: 2px solid #E5E5E5;
}
.progress-sec p{
    font-size: 15px;
    padding: 6px 0;
    margin: 0;
}
.progress-sec .common-progress{
    height: 8px;
    width: 100%;
    background: #DDDDDD;
    border-radius: 10px;
    margin: 0 0 16px 0;
    
}
.progress-sec .html::before{
    content: '';
    height: 100%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: html-animation 3s forwards;

}
.progress-sec .css::before
{
    content: '';
    height: 100%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: css-animation 3s forwards;

}
.progress-sec .js::before
{
    content: '';
    height: 100%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: js-animation 3s forwards;

}
.progress-sec .sass::before
{
    content: '';
    height: 100%;
    width: 80%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: sass-animation 3s forwards;

}
.progress-sec .figma::before
{
    content: '';
    height: 100%;
    width: 75%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: figma-animation 3s forwards;
}

.progress-sec .psd::before
{
    content: '';
    height: 100%;
    width: 80%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: psd-animation 3s forwards;

}
.progress-sec .png::before
{
    content: '';
    height: 100%;
    background: #341f97;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: png-animation 3s forwards;
}
@keyframes html-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes css-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes js-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 70%;
    }
}@keyframes sass-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes figma-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes psd-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes png-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.progress-sec .bangla::before
{
    content: '';
    animation: bangla-animation 3s forwards;
}
.progress-sec .hindi::before
{
    content: '';
    animation: hindi-animation 3s forwards;
}
.progress-sec .english::before
{
    content: '';
    animation: english-animation 3s forwards;
}
.progress-sec .office::before
{
    content: '';
    animation: office-animation 3s forwards;
}
.progress-sec .excel::before
{
    content: '';
    animation: excel-animation 3s forwards;
}
.progress-sec .powerpoint::before
{
    content: '';
    animation: powerpoint-animation 3s forwards;
}
.progress-sec .work-ex::before
{
    content: '';
    animation: workex-animation 3s forwards;
}
@keyframes bangla-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes hindi-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes english-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes office-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes excel-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes powerpoint-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes workex-animation {
    0%{

        width: 0%;
    }
    100%{
        width: 55%;
    }
}


/* skill section  */

.project-button{
    margin-right: 16px;
    height: 50px;
    width: 23%;
    border-radius: 6px;
    border: 1px solid #341f97;
    font-size: 15px;
    background: white;
    font-weight: 500;
    letter-spacing: 1px;
    color: #341f97;
}

.project-button:focus{
    color: white;
    background: #341f97;
    border: 1px solid transparent;

}
.project-button::before{
    content: '';
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #341f97;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.project-button::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0px;
    background: #351f9785;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.project-button:hover::before{
    visibility: visible;
    opacity: 1;
    height: 0%;
}
.project-button:hover::after{
    visibility: visible;
    opacity: 1;
    height: 0%;
}
.project-button:hover{
    background-color: white;
    border: 1px solid #341f97 ;
    color: #341f97;

}

/* project-sec */

.project-col{
    margin: 50px 0 0px 0;    
}
.allproject{
    display: none;
}
.project-col .project-img{
    box-shadow: rgb(69 67 96 / 10%) 0px 5px 20px 0px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.project-col .project-img img {
    max-height: 100%;
    transform: scale(3.5)translate(0px, 108px);
    transition: 1s;   
}
.project-col  .project-img:hover  img {
    transform: scale(3.5)translate(0px, 90px);
}

.project-col .project-img::before{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    background:#00000063;
    height:100%;
    width:100%;
    z-index:1;
    visibility:hidden;
    opacity:0;
}
.project-col .project-img a{
    position: absolute;
    bottom: -24px;
    left: 0;
    background: #341f97;
    z-index: 1;
    width: 100%;
    margin: 0;
    height: 60px;
    color: white;
    line-height: 60px;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    font-size: 15px;
    text-decoration: none;
}
.project-col .project-img:hover::before{
    visibility:visible;
    opacity:1;
    transition:1s;
}

.project-col .project-img:hover a{
    bottom: 0;
    visibility: visible;
    opacity: 1;
    color: white;
}


/* CONTACT  */

.contact-col form{
    box-shadow: rgb(69 67 96 / 10%) 0px 5px 20px 0px;
    padding: 0px 35px 0 35px;
    border-radius: 10px;
}

.contact-col form label{
    display: block;
    text-align: left;
    font-size: 15px;
    padding: 30px 0 0px 0;
    cursor: pointer;
    color: #6C7592;
}
.contact-col form input{
    height: 36px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    font-size: 16px;
}
.contact-col form textarea{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid #E5E5E5;
    font-size: 18px;
}


/* freelancing */

.freelancing {
    margin: 100px 0 20px 0;
    background-image: url(./img/laptop-336704_1920.jpg);
    padding: 60px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.freelancing::before{
    content: "";
    background: #0000007e;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.freelancing .row {
    display: flex;
    justify-content: center;
}
.freelancing .row .free-img{
    z-index: 1;
    width: 65px;
    height: 65px;
    display: block;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid white;
    transition: 1s;
    background: white;
}
.freelancing .row .free-img:hover{
    background: #341f97;
    border: 1px solid transparent;
}
.copyright p{
    margin: 0;
    color: gray;
    font-weight: 700;
    padding: 6px;
    text-align: center;
    font-size: 10px;
    word-spacing: 3px;
}

/* hidden menu */

.hidden-menu{
    position: relative;
}
.hidden-menu a{
    display: none;
    color: #341f97;
    font-size: 25px;
    top: 15px;
    position: fixed;
    right: 5%;
    z-index: 15;
    height: 50px;
    width: 50px;
    border: 2px solid;
    background: white;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}
